body {
    display: flex;
    justify-content: center;
    background-color: #ff79c6;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.calc-container {
    margin-top: 30px;
    padding: 20px;
    width: 400px;
    border-style: solid;
    background-color: #282a36;
    border-color: #282a36;
    border-radius: 20px;
    height: 575px;
    display: grid;
    grid-template-rows: 110px 1fr;
    grid-gap: 30px;

}

.screen {
    background-color: #44475a; 
    grid-row: 1/2;
    border-radius: 10px;
    display: grid;
    text-align: right;
}

.screen p {
    margin: 5px;
    font-size: 25px;
    font-family: monospace, sans-serif;
    overflow: hidden;
    word-spacing: -5px;
}

#equation {
    font-size: 25px;
    color: #bd93f9;
}

#answer {
    font-size: 40px;
    color: #f8f8f2;
}

.btn-container {
    grid-row: 2/3;
    /* background-color: white; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    

}


.btn-container-top {
    grid-row: 1/2;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
}

.btn {
    background-color: #424b6e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: #f8f8f2;
    user-select: none;
    
}

#ac {
    grid-column: 1/4;
    grid-row: 1/2;
}

#del {
    grid-column: 4/7;
    grid-row: 1/2;
}

#divide {
    grid-column: 7/9;
    grid-row: 1/2;
}

.num:hover {
    background-color: #8be9fd;
    color: #44475a;
}


#equal {
    grid-column: 3/5;
}

#equal:hover {
    background-color: #50fa7b;
    color: #44475a;
}

.symbol:hover {
    background-color: #bd93f9;
    color: #44475a;
}

.calc-func:hover {
    background-color: #f1fa8c;
    color: #44475a;
}

